body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
}

.hero {
  padding: 80px 20px;
  background: linear-gradient(black, #111);
}

h1 {
  font-size: 40px;
  color: gold;
}

button {
  padding: 12px 20px;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

.info, .contact {
  padding: 40px 20px;
  background: #111;
  margin-top: 10px;
}
