body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
}

.hero {
  padding: 80px 20px;
  background: linear-gradient(black, #111);
}

h1 {
  font-size: 45px;
  color: gold;
}

button {
  padding: 12px 20px;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  border-radius: 8px;
}

.booking {
  padding: 40px 20px;
  background: #111;
  margin: 20px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
}

.booking input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.info, .contact {
  padding: 40px;
  background: #111;
}
