body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

/* HERO SECTION */
.hero {
  padding: 80px 20px;
  background: linear-gradient(black, #111);
}

h1 {
  font-size: 45px;
  color: gold;
  letter-spacing: 2px;
}

/* BUTTONS */
button {
  padding: 12px 25px;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  border-radius: 8px;
}

/* BOOKING FORM BOX */
.booking {
  padding: 50px 20px;
  background: #111;
  margin: 20px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
}

.booking h2 {
  margin-bottom: 20px;
  color: gold;
}

/* INPUTS */
.booking input {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

/* SUBMIT BUTTON */
.booking button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
}

/* SECTIONS */
.info, .contact {
  padding: 40px 20px;
  background: #111;
  margin-top: 10px;
}
